<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.motivapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.motivapp.MotivAppAplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <activity
            android:name="com.motivapp.vc.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.motivapp.vc.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.motivapp.vc.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.motivapp.vc.TrainingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.motivapp.vc.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.motivapp.vc.NewTrainingActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>